@{
    Layout = "~/Views/Shared/ManagerAccounts/_Accounts.cshtml";

    ViewBag.Title = "Forgot Password Confirmation";
}

<style>
     .card-box {
        background: rgba(208, 1, 23, 0.52);
    }
     .wrapper-page{
         margin:auto;
     }
</style>


<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>





<div class="wrapper-page">
    <div class="card-box">
        <div class="panel-body">
                <div class="form-group ">
                    <div class="col-xs-12">
                        <p style="color:#ffffff">
                            Please check your Email to reset your password.
                        </p>
                    </div>
                </div>
               
                


        </div>
    </div>

</div>

