@{

    Layout = "~/Views/Shared/ManagerAccounts/_Accounts.cshtml";
    ViewBag.Title = "Reset password confirmation";
}
<style>
    hgroup{
        color: #000;
    z-index: 9999;
    position: relative;
    margin-top:5% ;
    }
    #loginLink{

        color:#000;
        font-weight:600;
    }
</style>


<hgroup class="title">
    <h1 style="color:#f00">@ViewBag.Title.</h1>
</hgroup>
<div style="position:absolute; color:#808080">
    <p style="color:#f00;padding:10px;">
        Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
