@model Autobots.Entities.Models.ViewModels.AddUserViewModel
@{
    ViewBag.Title = "CustomersInfo";
    Layout = "~/Views/Shared/Dashboard/_DashboardLayout.cshtml";
}



<!-- DataTables -->
<link href="~/Content/Back/assets/plugins/datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/Back/assets/plugins/datatables/buttons.bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/Back/assets/plugins/datatables/fixedHeader.bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/Back/assets/plugins/datatables/responsive.bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/Back/assets/plugins/datatables/scroller.bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/Back/assets/plugins/datatables/dataTables.colVis.css" rel="stylesheet" type="text/css" />
<link href="~/Content/Back/assets/plugins/datatables/dataTables.bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/Back/assets/plugins/datatables/fixedColumns.dataTables.min.css" rel="stylesheet" type="text/css" />


<div class="row">
    <div class="col-sm-12">
        <div class="card-box table-responsive">
            <h4 class="m-t-0 header-title"><b>Customer List </b></h4>
            <p class="text-muted font-13 m-b-30">
            Below is the list of all registered user on site
            </p>

            <table id="datatable" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Date</th>
                        <th>TotalBookings</th>
                    </tr>
                </thead>


                <tbody>
                    @foreach (var item in Model.userlist)
                    {
                        <tr>
                            <td>@item.UserName</td>
                            <td>@item.Email</td>
                           
                            <td>@item.CreatedAt</td>
                            <td>@item.Appointments.Count()</td>

                        </tr>

                    }


                </tbody>
            </table>
        </div>
    </div>
</div>











@section scripts{
    <script src="~/Content/Back/assets/js/modernizr.min.js"></script>
    <script src="~/Content/Back/assets/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Content/Back/assets/plugins/datatables/dataTables.bootstrap.js"></script>
    <script src="~/Content/Back/assets/plugins/datatables/dataTables.buttons.min.js"></script>
    <script src="~/Content/Back/assets/plugins/datatables/buttons.bootstrap.min.js"></script>
    <script src="~/Content/Back/assets/plugins/datatables/jszip.min.js"></script>
    <script src="~/Content/Back/assets/plugins/datatables/pdfmake.min.js"></script>
    <script src="~/Content/Back/assets/plugins/datatables/vfs_fonts.js"></script>
    <script src="~/Content/Back/assets/plugins/datatables/buttons.html5.min.js"></script>
    <script src="~/Content/Back/assets/plugins/datatables/buttons.print.min.js"></script>
    <script src="~/Content/Back/assets/plugins/datatables/dataTables.fixedHeader.min.js"></script>
    <script src="~/Content/Back/assets/plugins/datatables/dataTables.keyTable.min.js"></script>
    <script src="~/Content/Back/assets/plugins/datatables/dataTables.responsive.min.js"></script>
    <script src="~/Content/Back/assets/plugins/datatables/responsive.bootstrap.min.js"></script>
    <script src="~/Content/Back/assets/plugins/datatables/dataTables.scroller.min.js"></script>
    <script src="~/Content/Back/assets/plugins/datatables/dataTables.colVis.js"></script>
    <script src="~/Content/Back/assets/plugins/datatables/dataTables.fixedColumns.min.js"></script>

    <script src="~/Content/Back/assets/pages/datatables.init.js"></script>

    <script type="text/javascript">
    $(document).ready(function () {
        $('#datatable').dataTable();
        $('#datatable-keytable').DataTable({keys: true});
        $('#datatable-responsive').DataTable();
        $('#datatable-colvid').DataTable({
            "dom": 'C<"clear">lfrtip',
            "colVis": {
                "buttonText": "Change columns"
            }
        });
        $('#datatable-scroller').DataTable({
            ajax: "assets/plugins/datatables/json/scroller-demo.json",
            deferRender: true,
            scrollY: 380,
            scrollCollapse: true,
            scroller: true
        });
        var table = $('#datatable-fixed-header').DataTable({fixedHeader: true});
        var table = $('#datatable-fixed-col').DataTable({
            scrollY: "300px",
            scrollX: true,
            scrollCollapse: true,
            paging: false,
            fixedColumns: {
                leftColumns: 1,
                rightColumns: 1
            }
        });
    });
    TableManageButtons.init();

    </script>


}




