<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - Auto|Bots</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="generator" content="motive">
    <link rel="apple-touch-icon" sizes="57x57" href="~/Content/Front/fav.ico/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/Content/Front/fav.ico/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/Content/Front/fav.ico/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/Content/Front/fav.ico/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/Content/Front/fav.ico/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/Content/Front/fav.ico/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/Content/Front/fav.ico/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/Content/Front/fav.ico/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/Content/Front/fav.ico/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/Content/Front/fav.ico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/Content/Front/fav.ico/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/Front/fav.ico/favicon-16x16.png">
    <link rel="manifest" href="~/Content/Front/fav.ico/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="~/Content/Front/fav.ico/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- custom css -->
    <link rel="stylesheet" href="~/Content/Front/css/style.css" />
    <!-- responsive -->
    <link rel="stylesheet" href="~/Content/Front/css/responsive.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.0.3/sweetalert2.css" rel="stylesheet" />
  
</head>

<body>
    <div class="preloaderbox"></div>
    @{Html.RenderPartial("_FrontHeader");}
    @*@{Html.RenderPartial("_FrontSlider");}*@
    @RenderBody()
    @{Html.RenderPartial("_FrontFooter");}
   @* @Scripts.Render("~/Content/Front/js")*@
    @{ Html.RenderPartial("_FrontScripts", RenderSection("pagespecific", false)); }
    @*<script src="~/Content/Back/assets/plugins/bootstrap-sweetalert/sweet-alert.min.js"></script>*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.0.3/sweetalert2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@1.5.4/src/loadingoverlay.min.js"></script>

    <script>
        function subscribe() {
           
            $.LoadingOverlay("show", {
                image: "",
                fontawesome: "fa fa-spinner fa-spin"
            })

            var email = $("#Subscribe").val();
        debugger;
      
        $.ajax({
            url: '/Home/Subscriber?mail=' + email,
            type: 'Get',
            success: function (response) {
                debugger;
                if (response == 'True') {
                    $.LoadingOverlay("hide");

                    debugger;
                    swal({
                        type: 'success',
                        title: 'You are Successfully Subscribed',
                        width: 600,
                        padding: 100,
                        confirmButtonColor: '#be0014'
                        
                    })
                } else {
                    reject("This Email is Already Subscribed");
                }
            },
            fail: function () {
                reject("This Email is not correct!");
            }
        });
    }
    </script>


</body>
</html>
