
@{
    Layout = "~/Views/Shared/_FrontLayout.cshtml";

    ViewBag.Title = "Services";
}
<style>
    .page_heading {
    padding-top: 3% !important;
}

    #page_heading_area{
        height:178px;
    }

</style>

<!-- page heading area start -->
<section id="page_heading_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="page_heading text-center">
                    <h2>SERVICE</h2>
                    <h3>Home / Service</h3>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- page heading area end -->
<!-- why choose us area start -->
<section id="why">
    <div class="container">
        <div class="row">
            @*<div class="col-lg-4 col-md-4">
                    <div class="why_img">
                        <img src="~/Content/Front/img/home-v2/care_img.jpg" alt="" />
                    </div>
                </div>*@
            <div class="col-lg-12 col-md-12">
                <div class="why_details">
                    <h3 style="text-align:center; font-weight:800; font-size:32px;">Main Featured</h3>
                    <h2>Why Choose us ?</h2>
                    <p>
                        Autobots is currently offering must have services and facilities to consumer which are necessary for car’s health and maintenance.
                    </p>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="why_list">
                        <div class="why_icon">
                            <i class="flaticon-check52"></i>
                        </div>
                        <div class="why_heading">
                            <h2>Oil Change</h2>
                            <p>
                                Choose Your Brand i.e. Zic, Guard, Kixx etc &
                                 Autobots guarantees to change your car’s oil within 25 minutes to save your precious time.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="why_list">
                        <div class="why_icon">
                            <i class="flaticon-check52"></i>
                        </div>
                        <div class="why_heading">
                            <h2>Car Tuning</h2>
                            <p>	Professional technicians will visit at the location you want and tune your car remotely </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="why_list">
                        <div class="why_icon">
                            <i class="flaticon-check52"></i>
                        </div>
                        <div class="why_heading">
                            <h2>Break Service</h2>
                            <p>	Breaks available in different qualities available to choose from </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="why_list">
                        <div class="why_icon">
                            <i class="flaticon-check52"></i>
                        </div>
                        <div class="why_heading">
                            <h2>Car Wash</h2>
                            <p>	Employees trained and given special equipment will was the car on the spot </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="why_list">
                        <div class="why_icon">
                            <i class="flaticon-check52"></i>
                        </div>
                        <div class="why_heading">
                            <h2>Insurance</h2>
                            <p>Get a great deal of discount packages on different services by signing up with Autobots in a timely contract </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="why_list">
                        <div class="why_icon">
                            <i class="flaticon-check52"></i>
                        </div>
                        <div class="why_heading">
                            <h2>Additional Services</h2>
                            <p>Autobots offers distinct range of extra add ins for example Filter Change, Car Inspection etc. on request </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- why choose us area end -->
<!-- service start area -->
<section id="service_area">
    <div class="container">
        <div class="div_border">
            <hr />
            <hr />
        </div>
        <div class="row">
            <div class="section_heading text-center">
                <h2>OUR SERVICES</h2>
                <p>Keeping a well-maintained vehicle is paramount to your safety. That is why our team of nearly 500 professional technicians are ready to make your vehicle safe and </p>
            </div>
            <div class="row grid team">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="effect-chico figure">
                        <img src="~/Content/Front/img/home-v1/service-1.jpg" alt="img01" class="img-responsive" />
                        <div class="caption_details figcaption">
                            <p>
                                <b>Emissions</b><br>Nunc placerat phareta lorem   <br />onec benean porttitor<br><br>
                                <a href="emissions.html" class="btn btn-info more">READ MORE</a>
                            </p>
                        </div>
                        <div class="effect_title">
                            <a href="emissions.html">Emissions<i class="flaticon-right11"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="effect-chico figure">
                        <img src="~/Content/Front/img/home-v1/service-2.jpg" alt="img01" class="img-responsive" />
                        <div class="caption_details figcaption">
                            <p>
                                <b>Wheel Alignment</b><br>Nunc placerat phareta lorem   <br />onec benean porttitor<br><br>
                                <a href="wheel.html" class="btn btn-info more">READ MORE</a>
                            </p>
                        </div>
                        <div class="effect_title">
                            <a href="wheel.html">Wheel Alignment<i class="flaticon-right11"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="effect-chico figure">
                        <img src="~/Content/Front/img/home-v1/service-3.jpg" alt="img01" class="img-responsive" />
                        <div class="caption_details figcaption">
                            <p>
                                <b>Battery Service</b><br>Nunc placerat phareta lorem   <br />onec benean porttitor<br><br>
                                <a href="battery.html" class="btn btn-info more">READ MORE</a>
                            </p>
                        </div>
                        <div class="effect_title">
                            <a href="battery.html">Battery Service<i class="flaticon-right11"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="effect-chico figure">
                        <img src="~/Content/Front/img/home-v1/service-4.jpg" alt="img01" class="img-responsive" />
                        <div class="caption_details figcaption">
                            <p>
                                <b>Brakes Service</b><br>Nunc placerat phareta lorem   <br />onec benean porttitor<br><br>
                                <a href="brakes.html" class="btn btn-info more">READ MORE</a>
                            </p>
                        </div>
                        <div class="effect_title">
                            <a href="brakes.html">Brakes Service<i class="flaticon-right11"></i></a>
                        </div>
                    </div>
                </div>
                <div class="service_space">

                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="effect-chico figure">
                        <img src="~/Content/Front/img/home-v1/service-1.jpg" alt="img01" class="img-responsive" />
                        <div class="caption_details figcaption">
                            <p>
                                <b>Tire Pressure</b><br>Nunc placerat phareta lorem   <br />onec benean porttitor<br><br>
                                <a href="tirePressure.html" class="btn btn-info more">READ MORE</a>
                            </p>
                        </div>
                        <div class="effect_title">
                            <a href="tirePressure.html">Tire Pressure<i class="flaticon-right11"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="effect-chico figure">
                        <img src="~/Content/Front/img/home-v1/service-2.jpg" alt="img01" class="img-responsive" />
                        <div class="caption_details figcaption">
                            <p>
                                <b>Tire Service</b><br>Nunc placerat phareta lorem   <br />onec benean porttitor<br><br>
                                <a href="tireService.html" class="btn btn-info more">READ MORE</a>
                            </p>
                        </div>
                        <div class="effect_title">
                            <a href="tireService.html">Tire Service<i class="flaticon-right11"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="effect-chico figure">
                        <img src="~/Content/Front/img/home-v1/service-3.jpg" alt="img01" class="img-responsive" />
                        <div class="caption_details figcaption">
                            <p>
                                <b>Exhaust Systems</b><br>Nunc placerat phareta lorem   <br />onec benean porttitor<br><br>
                                <a href="exhaust.html" class="btn btn-info more">READ MORE</a>
                            </p>
                        </div>
                        <div class="effect_title">
                            <a href="exhaust.html">Exhaust Systems<i class="flaticon-right11"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="effect-chico figure">
                        <img src="~/Content/Front/img/home-v1/service-4.jpg" alt="img01" class="img-responsive" />
                        <div class="caption_details figcaption">
                            <p>
                                <b>Oil Change</b><br>Nunc placerat phareta lorem   <br />onec benean porttitor<br><br>
                                <a href="oil.html" class="btn btn-info more">READ MORE</a>
                            </p>
                        </div>
                        <div class="effect_title">
                            <a href="oil.html">Oil Change<i class="flaticon-right11"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- service end area -->
<!-- packege start area -->
@*<section id="packege_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                    <div class="packege_details">
                        <h2>36<span> Month Promo Package only for </span>$300</h2>
                        <p>Keeping a well-maintained vehicle is paramount to your safety. That is why our team of nearly 500  </p>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                    <div class="packege_button">
                        <button class="btn-ifno hvr-bounce-to-right btn-packege">See all Package</button>
                    </div>
                </div>
            </div>
        </div>
    </section>*@
<!-- packege end area -->
<!-- membership plan table area start -->
@*<section id="membership_plan">
        <div class="container">
            <div class="row">
                <div class="section_heading text-center">
                    <h2>Membership plan</h2>
                    <p>Keeping a well-maintained vehicle is paramount to your safety. That is why our team of nearly 500 professional </p>
                </div>
                <!-- table one -->
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="single_membership text-center">
                        <div class="single_membership_heading">
                            <h2>REGULER</h2>
                            <hr />
                            <h1>58</h1>
                            <p>$ / month</p>
                        </div>
                        <div class="membership_service">
                            <ul>
                                <li><a href="#">yearly car inspection</a><i class="fa fa-check-circle"></i></li>
                                <li><a href="#">outside car wash</a><i class="fa fa-check-circle"></i></li>
                                <li><a href="#">speed drive and test</a><i class="fa fa-check-circle"></i></li>
                                <li><a href="#">full polishing</a><i class="fa fa-check-circle"></i></li>
                            </ul>
                        </div>
                        <button class="btn-info hvr-sweep-to-bottom membership_button">PURCHASE NOW</button>
                    </div>
                </div>
                <!-- table two -->
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="single_membership text-center">
                        <div class="single_membership_heading">
                            <h2>STANDARD</h2>
                            <hr />
                            <h1>75</h1>
                            <p>$ / month</p>
                        </div>
                        <div class="membership_service">
                            <ul>
                                <li><a href="#">yearly car inspection</a><i class="fa fa-check-circle"></i></li>
                                <li><a href="#">outside car wash</a><i class="fa fa-check-circle"></i></li>
                                <li><a href="#">speed drive and test</a><i class="fa fa-check-circle"></i></li>
                                <li><a href="#">full polishing</a><i class="fa fa-check-circle"></i></li>
                            </ul>
                        </div>
                        <button class="btn-info hvr-sweep-to-bottom membership_button">PURCHASE NOW</button>
                    </div>
                </div>
                <!-- table three -->
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="single_membership text-center">
                        <div class="single_membership_heading">
                            <h2>PREMIUM</h2>
                            <hr />
                            <h1>422</h1>
                            <p>$ / month</p>
                        </div>
                        <div class="membership_service">
                            <ul>
                                <li><a href="#">yearly car inspection</a><i class="fa fa-check-circle"></i></li>
                                <li><a href="#">outside car wash</a><i class="fa fa-check-circle"></i></li>
                                <li><a href="#">speed drive and test</a><i class="fa fa-check-circle"></i></li>
                                <li><a href="#">full polishing</a><i class="fa fa-check-circle"></i></li>
                            </ul>
                        </div>
                        <button class="btn-info hvr-sweep-to-bottom membership_button">PURCHASE NOW</button>
                    </div>
                </div>
                <!-- table four -->
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="single_membership text-center">
                        <div class="single_membership_heading">
                            <h2>GOLD</h2>
                            <hr />
                            <h1>785</h1>
                            <p>$ / month</p>
                        </div>
                        <div class="membership_service">
                            <ul>
                                <li><a href="#">yearly car inspection</a><i class="fa fa-check-circle"></i></li>
                                <li><a href="#">outside car wash</a><i class="fa fa-check-circle"></i></li>
                                <li><a href="#">speed drive and test</a><i class="fa fa-check-circle"></i></li>
                                <li><a href="#">full polishing</a><i class="fa fa-check-circle"></i></li>
                            </ul>
                        </div>
                        <button class="btn-info hvr-sweep-to-bottom membership_button">PURCHASE NOW</button>
                    </div>
                </div>
            </div>
        </div>
    </section>*@
<!-- membership plan table area start --> 